
body {
	background-image: url("../images/intersection/intersection.png");
}

.header {
	background-color: #ffffff;
	border: 1px solid #dddddd;
}

.panel-title {
	font-size: 25px;
	color: #4aaaa5;
}

h1 {
	color: #4aaaa5;
}

.panel {
	border-radius: unset;
}

.panel-default .panel-heading {
	background-color: #ffffff;
}

.panel-heading {
	margin: 15px 15px 0px 15px;
}

.navbar-default {
	background-color: #ffffff;
	border-bottom: 3px solid #cccccc;

}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.navbar-header {
	background-color: #4aaaa5;
}

.navbar-brand {
	font-size: 25px;
	color: #ffffff;
}

.icons {
	margin: 4px
}

.waffles {
	
}

.row {
/* display: flex;
justify-content: center; */
}



/* 
nav {
	height: 100px;
	border-bottom: 2px solid #cccccc;
	background: #ffffff;
	font-family: 'Georgia', Times, Times 'New Roman', serif;
	display: flex;
	justify-content: center;
}

.navbar-brand {
	padding: 0px 20px 0px 20px;
	line-height: 90px;
	margin: 1px;
	margin-right: 330px; 
	float: left;
	font-size: 40px;
	font-weight: bold;
	height: 99%;
	background-color: #4aaaa5;
	color: #ffffff;
}

.navbar-nav {
	margin-top: 40px;
	height: 20px;
	display: flex;
	justify-content: center;
}

.Buttons {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	padding-right: 20px;
	margin-right: 20px;
	margin-top: 40px;
	font-size: 20px;
	color:#777777;
	border-right: 1px solid #cccccc;
	text-decoration: none;
}

.Buttons3 {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	float: right;
	font-size: 20px;
	margin-top: 40px;
	color:#777777;
	text-decoration: none;
}


#main {
	padding: 30px;
	margin-top: 50px;
	background: #ffffff;
	height: 460px;
	width: 590px;
	border: 1px solid #dddddd;
	margin-bottom: 250px;
}

#main1 {
	padding: 30px;
	margin-top: 50px;
	background: #ffffff;
	height: 800px;
	width: 590px;
	border: 1px solid #dddddd;
	margin-bottom: 150px;
}

#main2 {
	padding: 30px;
	margin-top: 50px;
	background: #ffffff;
	height: 600px;
	width: 590px;
	border: 1px solid #dddddd;
	margin-bottom: 150px;
}

label {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	font-size: 22px;
	
}

#about-me {
	font-family: 'Georgia', Times, Times 'New Roman', serif;
	font-size: 35px;
	padding-bottom: 20px;
	font-weight: bold;
	color: #4aaaa5;
	margin-bottom: 25px;
	border-bottom: 3px solid #cccccc;
}


#profile-picture {
	float: left;
	padding-right: 20px;
}

.banner-position {
	float: left;
}

.special {
	margin-left: 35px;
}

#placeholder-image {
	padding: 20px;
}

.photo-banner {
	font-size: 20px;
	text-align: center;
	padding-top: 5px;
	color: #ffffff;
	height: 25px;
	width: 220px;
	background: #4aaaa5;
	position: absolute;
	margin-top: 180px;
	margin-left: 20px;
	font-family: 'Georgia', Times, Times 'New Roman', serif;
}

.paragraph {
	color:#777777;
	font-size: 19px;
	line-height: 150%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.paragraph2 {
	color:#777777;
	font-size: 19px;
	line-height: 150%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-decoration: none;
}

input[type=text], select, textarea {
	width: 100%; 
	padding: 12px;   
	border: 1px solid #cccccc; 
	border-radius: none; 
	box-sizing: border-box; 
	margin-top: 6px; 
	margin-bottom: 16px; 
	resize: vertical; 
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777
}

input[type=submit] {
	background-color: #4aaaa5;
	color: white;
	padding: 10px 30px;
	border: none;
	cursor: pointer;
	font-size: 24px;
}

input[type=submit]:hover {
	background-color: #5bd1cb;
}

#sidebar {
	margin-top: 100px;
	margin-left: 40px;
	background: #ffffff;
	height: 200px;
	width: 230px;
	padding: 0px 20px 0px 20px;
	border: 1px solid #dddddd;
}

#connectwithme {
	font-family: 'Georgia', Times, Times 'New Roman', serif;
	font-size: 25px;
	margin-top: 25px;;
	height: 30px;
	padding-bottom: 15px;
	font-weight: bold;
	color: #4aaaa5;
	margin-bottom: 20px;
	border-bottom: 2px solid #cccccc;
	display: flex;
	justify-content: center;
}

#navlink {
	display: flex;
	justify-content: center;
	height: 20px;
	width: 100%;
}


footer { 
	left: 0;
	bottom: 0;
	width: 100%;
	border-top: 20px solid #4aaaa5;
	height: 35px;
	text-align: center;
	background-color: #666666;
	display: flex;
	justify-content: center;
	color: #ffffff;
	padding-top: 40px;
} */
